html {
font-size: 16px;
}

* {
   margin: 0;
   padding: 0;
   font-family: 'Roboto', sans-serif;
   color: #58595B;
}

:root {
   --primary-color: #F2F0EE;
   --secondary-color: white;
   --Tertiary-color: #555555;
   --Quaternary-color: #58595B;
}

.dark-theme {
   --primary-color: #0D1017;
   --secondary-color: #0D1017;
   --Tertiary-color: #F2F0EE;
   --Quaternary-color: #DAD8D7;
}

#container {
padding-top: 64px;
padding-bottom: 64px;
background-color: var(--primary-color);
/* height: 200vh; */
width: 100%;
}

#second-cont {
margin-right: 52px;
margin-left: 52px;
padding: 32px;
/* height: 200vh; */
background-color: var(--secondary-color);
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.228);
}

.my-custom-nav { 
background-color: var(--secondary-color);
color: var(--Quaternary-color);
font-size: 1.8rem;
}

/* .nav-link {
   color: var(--Quaternary-color);
} */

.nl {
   color: var(--Quaternary-color);
}

.navbar-nav {
   width: 71vw;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   align-content: center;
}

.navtxt {
   color: var(--Quaternary-color);
}

.nav-item {
   align-content: center;
}

.nav-con {
   display: flex;
   flex-direction: row;
}

#sun{
   display: none;
}

#first-nav {
   gap: 10px;
}

#sec-nav {
   gap: 20px;
}

#third-cont {
   height: 110vh;
   display: flex;
   flex-direction: row;
}

.al-center {
   display: flex;
   align-items: center;
   align-content: center;
   gap: 5px;
}

#logo-link {
   max-width: 128px;
   width: 100%;
   max-height: 480px;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.logo-links {
   max-height: 100px;
   height: 80%;
}

.en {
   font-size: 2.1rem;
}

.ic {
   font-size: 42px;
   color: var(--Quaternary-color);
}

#vc {
margin-top: 10px;
}

#social-links {
   margin-top: 180px;
   margin-left: 1.8rem;
   display: flex;
   flex-direction: column;
/*
   align-items: center;
   align-content: center;
*/
}

.ro {
   transition: transform 0.1s ease-in-out;
}

.ro:hover {
max-width: 284px;
width: 100%;
border-radius: 2px;
background-color: #E45447;
transform: rotate(-5deg);
transition: transform 0.1s ease;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.228);
}

.ro:hover .navtxt{
   color: white;
}

.lo:hover {
max-width: 120px;
width: 100%;
border-radius: 2px;
background-color: #E45447;
transform: rotate(-5deg);
transition: transform 0.1s ease;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.228);
}

.lo:hover .navtxt{
   color: white;
}

.fo:hover {
max-width: 180px;
width: 100%;
border-radius: 2px;
background-color: #E45447;
transform: rotate(-5deg);
transition: transform 0.1s ease;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.228);
}

.fo:hover .navtxt{
   color: white;
}

@keyframes zoomIn {
 0% {
     opacity: 0;
     transform: scale(0.2); /* Start at half size */
    } 
 40% {
      opacity: 1.5;
      transform: scale(1);   /* End at normal size */
     }
 80% {
      opacity: 1;
      transform: scale(0.8);   /* End at normal size */
     }
 100% {
       opacity: 1.5;
       transform: scale(1);   /* End at normal size */
 }
}


.speech-bubble {
  margin: 25px;
  position: relative;
  background: #2B2929; /* Dark background from your image */
  color: #fff;
  padding: 15px 25px;
  border-radius: 5px;
  display: inline-block;
  font-size: 1.5rem;
  animation: zoomIn 0.6s ease-out forwards;
}

/* Creating the triangle tail */
.speech-bubble::after {
  content: '';
  position: absolute;
  bottom: -9px; /* Moves it below the bubble */
  right: 20px;   /* Matches the right-side alignment in your image */
  
  /* The Triangle Logic */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #222; /* Matches bubble background */
  animation: zoomIn 0.6s ease-out forwards;
}

#intro {
   max-width: 100vw;
   width: 89%;
   margin-top: 50px;
   margin-left: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.vctxt {
   margin-bottom: 0;
   font-size: 50px;
}

.vt {
   margin-bottom: 16px;
}

#intro-para {
   font-size: 1.3rem;
   margin-top: 30px;
   color: var(--Quaternary-color);
   text-align: justify;
}

.wb {
   font-size: 1.5rem;
   color: var(--Quaternary-color);
   margin-left: 0px;
}

.mts {
   color: var(--Quaternary-color);
   font-size: 2.6rem;
}

.head-para {
   font-size: 1.7rem;
}

#introsect1 {
   width: 400px;
}

#introsect2 {
   width: 400px;
   display: flex;
}

#vc2 {
   position: absolute;
   top: 180px;
   max-height: 720px;
   height: 75%;
   margin-bottom: 80px;
}

@keyframes zoomIn2 {
0% {
   opacity: 0;
   transform: scale(0.2); /* Start at half size */
} 100% {
   opacity: 1.5;
   transform: scale(1);   /* End at normal size */
   }
}

#cm {
   display: none;
   max-height: 210px;
   height: 90%;
   margin-top: 0px;
   margin-left: 80px;
   animation: zoomIn2 0.6s ease-out forwards;
}

main {
   margin-top: 100px;
   margin-left: 155px;
}

.cirbar {
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   align-content: center;
}

.circle {
   height: 10px;
   width: 10px;
   border-radius: 50%;
   background-color: #E45447;
}

.bar {
   position: absolute;
   left: 5px;
   height:4px;
   width: 160px;
   background-color: #E45447;
}

#skills-box {
   max-height: 504px;
   height: 98%;
   max-width: 1050px;
   width: 100%;
   margin-top: 40px;
   border-radius: 10px;
   border: 2px solid var(--Quaternary-color);
   background-color: var(--primary-color);
   display: flex;
   flex-direction: row;
}

#skill-info {
   width: 525px;
   display: flex;
   flex-direction: column;
   /* justify-content: center;
   align-items: center; 
   align-content: center; */
}

.skill-paras {
   font-size: 1.1rem;
   color: var(--Quaternary-color);
   text-align: justify;
}

#skill-head {
   margin-top: 40px;
   margin-left: 40px;
   margin-right: 40px;
   opacity: 0;
   display: flex;
   flex-direction: column;
   align-items: center; 
   align-content: center;
}

#skill-main {
   margin-top: 20px;
   margin-left: 40px;
   margin-right: 40px;
   opacity: 0;
   display: flex;
   flex-direction: column;
   align-items: center; 
   align-content: center;
}

.ftd {
   width: 150px;
}

.ftd2 {
   color: var(--Tertiary-color);
   font-size: 1.8rem;
}

#skill-images {
   position: relative;
   width: 525px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
}

img {
   position: absolute;
}

#one {
   height: 341px;
   z-index: 9;
}

#two {
   top: 78px;
   height: 341px;
   opacity: 0;
   z-index: 8;
}

#three {
   bottom: 185px;
   left: 63px;
   height: 380px;
   opacity: 0;
   z-index: 0;
}

#four {
   bottom: 265px;
   left: 233px;
   height: 300px;
   opacity: 0;
   z-index: 99;
}

#five {
   bottom: 140px;
   right: 210px;
   height: 380px;
   opacity: 0;
   z-index: 99;
}

#six {
   bottom: 260px;
   right: 230px;
   height: 300px;
   opacity: 0;
   z-index: 99;
}

#seven {
   bottom: 180px;
   left: 230px;
   height: 300px;
   opacity: 0;
   z-index: 99;
}

#skill-end {
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center; 
   align-content: center;
   opacity: 0;
}

.fd {
   padding-left: 1rem;
   max-width: 240px;
   width: 100%;
   margin-top: 40px;
   text-align: center;
   z-index: 9;
   transition: all 0.3s ease;
}

#fd {
   color: #000000;
   z-index: 9;
   transition: all 0.3s ease;
}


#cir {
   position: absolute;
   top: 20px;
   left: 168px;
   height: 70px;
   width: 70px;
   border-radius: 50%;
   background-color: #ECB2AB;
   z-index: 0;
   transition: all 0.3s ease;
}

#skill-end:hover #cir {
   height: 70px;
   width: 223px;
   left: 155px;
   border-radius: 50px;
   background-color: #E45447;
   cursor: pointer;
   transition: all 0.3s ease;
}

#skill-end:hover .d {
   color: white;
   transition: all 0.3s ease;
}

#works {
   margin-top: 180px;
}

.t {
   margin-top: 20px;
   width: 580px;
}

#work-box {
   margin-top: 40px;
   margin-right: 120px;
   height: 80vh;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   align-content: center;
   gap: 20px;
}

.site-imges {
   height: 320px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   align-content: center;
   gap: 30px;
}

.img-box {
   position: relative;
   height: 312px;
   width: 564px;
}

.info-box {
   position: absolute;
   bottom: 2px;
   width: 550px;
   height: 90px;
   background-color: #48566E;
   border-radius: 0px 0px 10px 10px;
   z-index: 99999;
   opacity: 0;
   transition: all 0.6s ease;
}

.img-box:hover .info-box {
opacity: 0.8;
transform: translateY(-10px);
transition: all 0.6s ease;
}

.site-text {
   margin-top: 12px;
   margin-left: 40px;
}

.t {
   color: white;
}

.site-img {
   position: absolute;
   height: 300px;
   width: 550px;
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.228);
}

#w2 {
   height:300px;
}

#contact {
   margin-top: 180px;
}

#contact-container {
   position: relative;
   margin-top: 40px;
   height: 500px;
   width: 1050px;
   background-color: var(--primary-color);
   border-radius: 10px;
   border: 2px solid var(--Quaternary-color);
   display: flex;
   flex-direction: row;
}

#contact-box1 {
   position: absolute;
   top: 20px;
   left: 25px;
   height: 450px;
   width: 450px;
   background-color: var(--secondary-color);
   display: flex;
   flex-direction: column;
   align-items: center;
   align-content: center;
   border-radius: 10px;
}

.h {
   margin-top: 145px;
   color: #2B2929;
   font-size: 100px;
}

#con-txt {
   margin-top: 8px;
}

#do {
   font-size: 20px;
}

#contact-box2 {
   position: absolute;
   top: 60px;
   left: 520px;
   width: 500px;
}

.inputs {
   width: 500px;
   display: flex;
   flex-direction: row;
   gap: 30px;
}

.inpfield {
   height: 45px;
   width: 240px;
   border: 2px solid #332e2e;
   border-radius: 5px;
   font-size: 18px;
}

#des-box {
   height: 200px;
   width: 510px;
   border: 2px solid #332e2e;
   border-radius: 5px;
   font-size: 18px;
}

#btn {
   margin-top: 10px;
   margin-left: 390px;
   width: 120px;
   height: 40px;
   background-color: #E45447;
   color: white;
   border: none;
   border-radius: 5px;
   font-size: 18px;
   cursor: pointer;
}

  #text {
    font-size: 52px;
    font-weight: 600;
    color: var(--Tertiary-color);
    white-space: pre-line; /* IMPORTANT for line break */
    line-height: 1; /* 🔥 removes extra gap */

  }

  .cursor {
    display: inline-block;
    width: 2px;
    background: var(--Tertiary-color);
    margin-left: 5px;
    animation: blink 1s infinite;
  }

  @keyframes blink {
    0%, 50%, 100% { opacity: 1; }
    25%, 75% { opacity: 0; }
  }
  
  .ne {
   font-size: 1.2rem;  
  }
  
  .m {
   font-size: 1.2rem;
   margin-top: 36px;
  }

footer {
   margin-top: 40px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;  
}

#footp {
  color: black;
  font-weight: 50px;
  font-size: 22px;
 }

 #bl {
  color: black;
 }
